<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.dafa.role.mapper.RoleMapper">
	<resultMap id="BaseResultMap" type="cn.dafa.role.model.Role">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="role_name" property="roleName" jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="INTEGER" />
		<result column="node" property="node" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="creater" property="creater" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="updater" property="updater" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, role_name, weight,
		node,status,create_time,creater,update_time,updater
	</sql>


	<sql id="Sql_Where_Clause">
		where status=1
		<choose>
			<when test="condition.keyword!=null">
				and role_name like '%' #{condition.keyword} '%'
			</when>
		</choose>
		order by weight
	</sql>


	<select id="query" resultMap="BaseResultMap" parameterType="cn.dafa.common.pojo.Criteria"
		resultType="cn.dafa.role.model.Role">
		select
		<include refid="Base_Column_List" />
		from t_sys_roles
		<include refid="Sql_Where_Clause" />
		LIMIT #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
	</select>

	<select id="count" resultType="java.lang.Long" parameterType="cn.dafa.common.pojo.Criteria">
		select count(1) from t_sys_roles
		<include refid="Sql_Where_Clause" />
	</select>

	<select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_sys_roles
		where id = #{id,jdbcType=INTEGER}
	</select>


	<delete id="delete" parameterType="java.lang.Integer">
		delete from
		t_sys_roles
		where id
		= #{id,jdbcType=INTEGER}
	</delete>

	<delete id="deleteBatch" parameterType="java.lang.String">
		delete from t_sys_roles where id in
		<foreach item="ids" collection="array" open="(" separator=","
			close=")">
			#{ids}
		</foreach>
	</delete>

	<insert id="save" parameterType="cn.dafa.role.model.Role">
		insert into t_sys_roles
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="roleName != null">
				role_name,
			</if>
			<if test="weight != null">
				weight,
			</if>
			<if test="node != null">
				node,
			</if>
			<if test="1 != 2">
				status,
			</if>
			<if test="1 != 2">
				create_time,
			</if>
			<if test="1 != 2">
				creater,
			</if>
			<if test="1 != 2">
				update_time,
			</if>
			<if test="1 != 2">
				updater,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="roleName != null">
				#{roleName,jdbcType=VARCHAR},
			</if>
			<if test="weight != null">
				#{weight,jdbcType=INTEGER},
			</if>
			<if test="node != null">
				#{node,jdbcType=VARCHAR},
			</if>
			<if test="1 != 2">
				1,
			</if>
			<if test="1 != 2">
				now(),
			</if>
			<if test="1 != 2">
				now(),
			</if>
			<if test="1 != 2">
				now(),
			</if>
			<if test="node != null">
				now(),
			</if>
		</trim>
	</insert>
	<update id="modify" parameterType="cn.dafa.role.model.Role">
		update t_sys_roles
		<set>
			<if test="roleName != null">
				role_name = #{roleName,jdbcType=VARCHAR},
			</if>
			<if test="weight != null">
				weight = #{weight,jdbcType=INTEGER},
			</if>
			<if test="node != null">
				node = #{node,jdbcType=VARCHAR},
			</if>
			<if test="1 != 2">
				update_time = now(),
			</if>
			<if test="1 != 2">
				updater = now(),
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="findAll" resultMap="BaseResultMap" resultType="cn.dafa.role.model.Role">
		select
		<include refid="Base_Column_List" />
		from t_sys_roles where status=1
	</select>
</mapper>